/* REGOLE GENERALI */
.bg-hf {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

/* REGOLE SPECIFICHE */

/* REGOLE DELL'HEADER E DELLA BARRA DI NAVIGAZIONE -------------------------- */
header .navbar {
  border-radius: 0;
  padding: 25px 0;
}

/* Regole del logo ---------------------------------------------------------- */
header .navbar-default .navbar-brand {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
header .navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: transparent;
}

/* Regole del menu a panino ------------------------------------------------- */
header .navbar-default .navbar-toggle {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
header .navbar-default .navbar-toggle:focus,
header .navbar-default .navbar-toggle:hover {
  background-color: #148F77;
  border-color: #148F77;
}
header .navbar-default .navbar-collapse {
  border: 0;
}

/* Regole della barra di navigazione a destra ------------------------------- */
header .navbar-right {
  font-size: 18px;
  font-weight: 700;
}
header .navbar-default .navbar-nav>li>a {
  color: #fff;
}
header .navbar-default .navbar-nav>li>a:hover {
  color: #1abc9c;
}
header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* REGOLE DEL FOOTER -------------------------------------------------------- */

/* Social bar --------------------------------------------------------------- */
.padding-sb {
  padding-top: 50px;
  padding-bottom: 60px;
}
.title-ft {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.text-ft {
  font-size: 20px;
  color: #fff;
  padding-bottom: 10px;
}
footer p a {
  color: #1abc9c;
}
footer p a:focus, footer p a:hover {
  color: #148F77;
}
.fa {
  padding: 0 20px 20px 20px;
  font-size: 30px;
  margin: 5px 2px;
  color: #fff;
}
.fa:hover {
  color: #1abc9c;
  text-decoration: none;
}

/* Barra del Copyright ------------------------------------------------------ */
.copyright {
  background-color: #1a252f;
  height: 72px;
}
.text-white {
  color: #fff;
  padding-top: 25px;
}





/* REGOLE RESPONSIVE -------------------------------- */

@media all and (min-width: 768px){
  /* Regole Responsive */

}

@media all and (min-width: 992px){
  /* Regole Responsive della barra di navigazione */
  header .navbar-default .navbar-brand {
    font-size: 28px;
  }
}
